
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
*.user
*.sln
GoogleDinosaur/.vs/GoogleDinosaur/v16/.suo
*.ipch
*.dll
*.log
*.recipe
*.tlog
*.txt
*.obj
*.idb
*.pdb
GoogleDinosaur/x64/Debug/GoogleDinosaur.exe
GoogleDinosaur/x64/Debug/GoogleDinosaur.ilk
